<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Добавление</title>
</head>

<body>
    <a href="/">На главную</a>
    <h1>Введите данные</h1>
    <form name="KlientForm" action="/insert" method="post">
        <label>Имя клиента</label><br>
        <input type="text" name="name" /><br><br>
        <label>Код клиента</label><br>
        <input type="number" name="kodkl" /><br><br>
        <label>Банк</label><br>
        <input type="text" name="bank" /><br><br>
        <label>Кредит</label><br>
        <input type="number" name="kredit" /><br><br>
        <button type="submit">Добавить</button>
    </form>
</body>

</html>