<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>

<body>
    <a href="/">На главную</a>
    <h1>Введите данные</h1>
    <form name="searchForm" action="/show" method="post">
        <label>Код клиента:</label><br>
        <input type="search" name="kodkl" placeholder="Поиск">
        <button type="submit">Найти</button>
    </form>
</body>

</html>